
06-Python-APIs/Homework/python-api-challenge/api_keys.py
.ipynb_checkpoints/index-checkpoint.html
20-Tableau/config.py
20-Tableau/.ipynb_checkpoints/citibike_data_downloader-checkpoint.ipynb
chromedriver.exe
20-Tableau/static/202001-citibike-tripdata.csv
20-Tableau/static/201309-citibike-tripdata.csv
20-Tableau/__pycache__/config.cpython-37.pyc
20-Tableau/static/201306-citibike-tripdata.csv
20-Tableau/static/201307-citibike-tripdata.csv
20-Tableau/static/201308-citibike-tripdata.csv
20-Tableau/static/201310-citibike-tripdata.csv
20-Tableau/static/201311-citibike-tripdata.csv
20-Tableau/static/201312-citibike-tripdata.csv
20-Tableau/static/201401-citibike-tripdata.csv
20-Tableau/static/201402-citibike-tripdata.csv
20-Tableau/static/201403-citibike-tripdata.csv
20-Tableau/static/201404-citibike-tripdata.csv
20-Tableau/static/201405-citibike-tripdata.csv
20-Tableau/static/201406-citibike-tripdata.csv
20-Tableau/static/201407-citibike-tripdata.csv
20-Tableau/static/201408-citibike-tripdata.csv
20-Tableau/static/201409-citibike-tripdata.csv
20-Tableau/static/201410-citibike-tripdata.csv
20-Tableau/static/201411-citibike-tripdata.csv
20-Tableau/static/201412-citibike-tripdata.csv
20-Tableau/static/201501-citibike-tripdata.csv
20-Tableau/static/201502-citibike-tripdata.csv
20-Tableau/static/201503-citibike-tripdata.csv
20-Tableau/static/201504-citibike-tripdata.csv
20-Tableau/static/201505-citibike-tripdata.csv
20-Tableau/static/201506-citibike-tripdata.csv
20-Tableau/static/201507-citibike-tripdata.csv
20-Tableau/static/201508-citibike-tripdata.csv
20-Tableau/static/201509-citibike-tripdata.csv
20-Tableau/static/201510-citibike-tripdata.csv
20-Tableau/static/201511-citibike-tripdata.csv
20-Tableau/static/201512-citibike-tripdata.csv
20-Tableau/static/201601-citibike-tripdata.csv
20-Tableau/static/201602-citibike-tripdata.csv
20-Tableau/static/201603-citibike-tripdata.csv
20-Tableau/static/201604-citibike-tripdata.csv
20-Tableau/static/201605-citibike-tripdata.csv
20-Tableau/static/201606-citibike-tripdata.csv
20-Tableau/static/201607-citibike-tripdata.csv
20-Tableau/static/201608-citibike-tripdata.csv
20-Tableau/static/201609-citibike-tripdata.csv
20-Tableau/static/201610-citibike-tripdata.csv
20-Tableau/static/201611-citibike-tripdata.csv
20-Tableau/static/201612-citibike-tripdata.csv
20-Tableau/static/201701-citibike-tripdata.csv
20-Tableau/static/201702-citibike-tripdata.csv
20-Tableau/static/201703-citibike-tripdata.csv
20-Tableau/static/201704-citibike-tripdata.csv
20-Tableau/static/201705-citibike-tripdata.csv
20-Tableau/static/201706-citibike-tripdata.csv
20-Tableau/static/201707-citibike-tripdata.csv
20-Tableau/static/201708-citibike-tripdata.csv
20-Tableau/static/201709-citibike-tripdata.csv
20-Tableau/static/201710-citibike-tripdata.csv
20-Tableau/static/201711-citibike-tripdata.csv
20-Tableau/static/201712-citibike-tripdata.csv
20-Tableau/static/201801-citibike-tripdata.csv
20-Tableau/static/201802-citibike-tripdata.csv
20-Tableau/static/201803-citibike-tripdata.csv
20-Tableau/static/201804-citibike-tripdata.csv
20-Tableau/static/201805-citibike-tripdata.csv
20-Tableau/static/201806-citibike-tripdata.csv
20-Tableau/static/201807-citibike-tripdata.csv
20-Tableau/static/201808-citibike-tripdata.csv
20-Tableau/static/201809-citibike-tripdata.csv
20-Tableau/static/201810-citibike-tripdata.csv
20-Tableau/static/201811-citibike-tripdata.csv
20-Tableau/static/201812-citibike-tripdata.csv
20-Tableau/static/201901-citibike-tripdata.csv
20-Tableau/static/201902-citibike-tripdata.csv
20-Tableau/static/201903-citibike-tripdata.csv
20-Tableau/static/201904-citibike-tripdata.csv
20-Tableau/static/201905-citibike-tripdata.csv
20-Tableau/static/201906-citibike-tripdata.csv
20-Tableau/static/201907-citibike-tripdata.csv
20-Tableau/static/201908-citibike-tripdata.csv
20-Tableau/static/201909-citibike-tripdata.csv
20-Tableau/static/201910-citibike-tripdata.csv
20-Tableau/static/201911-citibike-tripdata.csv
20-Tableau/static/201912-citibike-tripdata.csv
20-Tableau/static/202002-citibike-tripdata.csv
20-Tableau/static/202003-citibike-tripdata.csv
20-Tableau/static/202004-citibike-tripdata.csv
20-Tableau/static/202005-citibike-tripdata.csv
20-Tableau/static/202006-citibike-tripdata.csv
20-Tableau/static/total_trip_duration.csv
20-Tableau/static/YTD_data.csv
